.blue {
  background-color: #033048;
}

.yellow {
  background-color:#f9e42e;
}

.yellow-font {
  color: #f9e42e;
  font-size: 2rem;
}

.background-color {
  background-color: #f0efef;
}

.almost-black {
  background-color: #121212;
}

footer p {
  color: #fff;
}
